
# <center>Python - Advanced Wrangling With Pandas - Practice <a class="tocSkip"></center>
# <center>QTM 350: Data Science Computing <a class="tocSkip"></center>    
# <center>Davi Moreira <a class="tocSkip"></center>

## Introduction <a class="tocSkip">
<hr>

<center>
<div>
<img src="https://raw.githubusercontent.com/davi-moreira/2024S_dsc_emory_qtm_350/main/lecture_material/material-topic-03/img/py4ds.png" width="200"/>
</div>
</center>


This topic material is based on the [Python Programming for Data Science](https://www.tomasbeuzen.com/python-programming-for-data-science/README.html) book and adapted for our purposes in the course.

## Exercise

In this set of practice exercises we'll be looking at a cool dataset of real passwords (made available from actual data breaches) sourced and compiled from [Information is Beautiful](https://informationisbeautiful.net/visualizations/top-500-passwords-visualized/?utm_content=buffer994fa&utm_medium=social&utm_source=twitter.com&utm_campaign=buffer) and contributed to [R's Tidy Tuesday project](https://github.com/rfordatascience/tidytuesday). These passwords are common ("bad") passwords that you should avoid using! But we're going to use this dataset to practice some regex skills.

Let's start by importing pandas with the alias `pd`.

In [12]:
# Your answer here
import pandas as pd

## Exercise

The dataset has the following columns:

|variable          |class     |description |
|:-----------------|:---------|:-----------|
|rank              |int    | popularity in their database of released passwords |
|password          |str | Actual text of the password |
|category          |str | What category does the password fall in to?|
|value             |float    | Time to crack by online guessing |
|time_unit         |str | Time unit to match with value |
|offline_crack_sec |float    | Time to crack offline in seconds |
|rank_alt          |int    | Rank 2 |
|strength          |int    | Strength = quality of password where 10 is highest, 1 is lowest, please note that these are relative to these generally bad passwords |
|font_size         |int    | Used to create the graphic for KIB |


In these exercises, we're only interested in the `password`, `value` and `time_unit` columns so import only these two columns as a dataframe named `df` from this url: <https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-01-14/passwords.csv>

In [13]:
# Your answer here.
df = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-01-14/passwords.csv', usecols=['password', 'value', 'time_unit'])
df

     password  value time_unit
0    password   6.91     years
1      123456  18.52   minutes
2    12345678   1.29      days
3        1234  11.11   seconds
4      qwerty   3.72      days
..        ...    ...       ...
502       NaN    NaN       NaN
503       NaN    NaN       NaN
504       NaN    NaN       NaN
505       NaN    NaN       NaN
506       NaN    NaN       NaN

[507 rows x 3 columns]

## Exercise

An online password attack is when someone tries to hack your account by simply trying a very large number of username/password combinations to access your account. For each `password` in our dataset, the `value` column shows the amount of time it is estimated to take an "online password attack" to hack your account. The column `time_unit` shows the units of that time value (e.g., hours, days, years, etc.)

It would be much nicer if our `value`s were of the same units so we can more easily compare the "online password guessing time" for each password. So your first task is to convert all of the values to units of hours (assume the conversion units I've provided below, e.g., 1 day is 24 hours, 1 week is 168 hours, etc).

In [14]:
units = {
    "seconds": 1 / 3600,
    "minutes": 1 / 60,
    "days": 24,
    "weeks": 168,
    "months": 720,
    "years": 8760,
    "hours": 1
}

In [16]:

for index, row in df.iterrows():
    if row['time_unit'] in units:
        df.loc[index, 'value_hours'] = df.loc[index, 'value'] * units[row['time_unit']]

df

     password  value time_unit   value_hours
0    password   6.91     years  60531.600000
1      123456  18.52   minutes      0.308667
2    12345678   1.29      days     30.960000
3        1234  11.11   seconds      0.003086
4      qwerty   3.72      days     89.280000
..        ...    ...       ...           ...
502       NaN    NaN       NaN           NaN
503       NaN    NaN       NaN           NaN
504       NaN    NaN       NaN           NaN
505       NaN    NaN       NaN           NaN
506       NaN    NaN       NaN           NaN

[507 rows x 4 columns]

## Exercise

How many password begin with the sequence `123`?

In [17]:
# Your answer here.
df['password'].str.startswith('123').sum()

9

## Exercise

What is the average time in hours needed to crack these passwords that begin with `123`? How does this compare to the average of all passwords in the dataset?

In [18]:
# Your answer here.
sum=0
count=0
for index, row in df.iterrows():
    if isinstance(row['password'], str) and row['password'].startswith('123'):
        sum+=row['value_hours']
        count+=1
print(sum/count)

107.30332438271606

## Exercise

How many passwords do not contain a number?

In [19]:
# Your answer here.
(~df['password'].dropna().str.contains('\d')).sum()

446

## Exercise

How many passwords contain at least one number?

In [20]:
# Your answer here.
df['password'].str.contains('\d').sum()

54

## Exercise

Is there an obvious difference in online cracking time between passwords that don't contain a number vs passwords that contain at least one number?

In [21]:
# Yes there is an obvious difference without passwords with numbers taking much longer to crack.

df['hasNum'] = False

for i in range(len(df)):
    password = df.loc[i, 'password']
    for char in str(password):
        if char.isdigit():
            df.loc[i, 'hasNum'] = True
            break

listNums = df[df['hasNum']]
listNoNums = df[~df['hasNum']]

avgTimeNums = listNums['value_hours'].mean()
avgTimeNoNums = listNoNums['value_hours'].mean()

print(f"Average time to crack a password with numbers in hours is {avgTimeNums} and without numbers is {avgTimeNoNums}.")

Average time to crack a password with numbers in hours is 62004.65410396089 and without numbers is 8095.361663677129.

## Exercise

How many passwords contain at least one of the following punctuations: `[.!?\\-]` (hint: remember this dataset contains *weak* passwords...)?

In [ ]:
# Your answer here.

## Exercise

Which password(s) in the datasets took the shortest time to crack by online guessing? Which took the longest?

In [ ]:
# Your answer here.

In [ ]:
!jupyter nbconvert _09-py-wrangling-advanced-practice.ipynb --to html --template classic --output 09-py-wrangling-advanced-practice.html

[NbConvertApp] Converting notebook _09-py-wrangling-advanced-practice.ipynb to html
[NbConvertApp] Writing 287880 bytes to 09-py-wrangling-advanced-practice.html

# <center>Have fun!<a class="tocSkip"></center>